


.footerContainer{
    display: flex;

    .left{
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 20px;

        p{

        }

        .logo{

        }

        .desc{
            margin: 20px 0px;
        }

        .socialContainer{
            display: flex;
            padding-left: 20px;
            .socialIcon{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                color: white;
                background-color: #385999;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 20px;
            }
        }
    }

    
    .center{
        flex: 1;
        padding: 20px;

        .title{
            margin-bottom: 30px;
            // border: 2px solid red;
            text-align: center;
        }

        .list{
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;

            .listItem{
                width: 50%;
                margin-bottom: 10px;
            }
        }
    }

    .payment{

        padding: 20px;

        img{
            // border: 2px solid red;
            
            width: 200px;
            height: 60px;
        }
    }
    .right{
        flex: 1;
        padding: 20px;

        .title{

        }

        .contactItem{
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }

        .paymentImg{
            width: 50%;
            height: 30px;
        }


    }
}