

.registerContainer{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5) 
        ) url("https://fastly.picsum.photos/id/699/200/300.jpg?hmac=s68cvOJXxl4ZvaOM6PpveL8klBiaViC9Nbi02oETt5k") center;

    background-color: rgba(0, 128, 128, 0.623);
    display: flex;
    align-items: center;
    justify-content: center;
    
    .wrapper{
        width: 40%;
        padding: 20px;
        background-color: white;

        .title{
            font-size: 24px;
            font-weight: 300;

        }

        form{
            display: flex;
            flex-wrap: wrap;

            input{
                flex: 1;
                min-width: 40%;
                margin: 20px 10px 0px 0px;
                padding: 10px;
            }

            .agreement{
                font-size: 12px;
                margin: 20px 0px;
            }

            .actions{

                // border: 2px solid red;
                width: 100%;
                display: flex;
                justify-content: space-between;
                // padding: 10px;
                margin-top: 10px;

                button{
                    width: fit-content;
                    border: none;
                    padding: 10px 20px;
                    background-color: teal;
                    color: white;
                    cursor: pointer;
                }
            }
           
        }
    }
}

