.productAdmin {
    display: flex;
    width: 100%;
  

    
    .productContainer {
        flex: 6;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        height: 100vh;
        background-color: white;
          
        .navbar{
            // height: 30px;   
            width: 100%;
            // border: 2px solid red;
        }

        .product{
            display: flex;
            flex-direction: column;
            // border: 2px solid red;
            width: 100%;
            border: 2px solid green;
            

            .top{
                display: flex;
                justify-content: space-between;
                padding: 20px;
                font-weight: 300;
                font-size: 20px;
                // width: 100%;
                // border: 2px solid red;

                .createBtn{
                    background-color: teal;
                    color: white;
                    padding: 5px 20px;
                    border-radius: 5px;
                }
            }

            .center{
                display: flex;
                justify-content: center;

                gap: 40px;
                padding: 20px;
                
                .chart{
                    // flex: 7;
                    // border: 2px solid red;
                    
                }
                .salesPerformance{
                    // --webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0,0,0.47);
                    // box-shadow: 2px 4px 10px 1px rgba(201,201,201, 0.47);
                    padding: 5px 20px;                    
                    width: 100%;
                    // border: 2px solid yellow;

                }
                .productHighLight{
                    --webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0,0,0.47);
                    box-shadow: 2px 4px 10px 1px rgba(201,201,201, 0.47);
                
                    padding: 20px;  
                    width: 100%;

                    flex: 5;
                    // margin: 20px;

                    // border: 2px solid yellow;

                    .productTitle{
                        display: flex;
                        align-items: center;
                        border: 2px solid red;
                        gap: 10px;
                        img{
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                        }

                        .productNamex{
                           
                        }
                    }

                    .productInfo{
                        margin-top: 15px;
                        // border: 2px solid red;    
                    }
                }
            }
            
            .bottom{
                --webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0,0,0.47);
                box-shadow: 2px 4px 10px 1px rgba(201,201,201, 0.47);
              
                border: 2px solid red;
                display: flex;
                justify-content: space-between;
                padding: 5px 20px;                    
                
            }
        }
    }


   
}