

.categoryItemContainer{

    flex: 1;
    // border: 3px solid yellow;
    margin: 3px;
    height: 40vh;
    position: relative;
    // border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    h2{
        position: absolute;
        // border: 2px solid green;
        top: 10px;
        // left: 0;
        // width: 100%;
        // height: 100%;
        z-index: 2;

        background-color: rgba(255, 255, 255, 0.678);
        // border-radius: 50%;
        padding: 5px;
        color: rgba(0, 0, 0, 0.63); 
    }
    .ciImg{

        
    --webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201, 0.47);


        width: 300px;
        height: 300px;
        object-fit:contain;
        // border-radius: 30%;
        // border: 3px solid red;
        padding: 10px;

        // &:hover{
        // border: 3px solid red;

        // }   
    }
    .info{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        z-index: 5;

        .title{
           
            // margin-bottom: 20px;
            // margin-top: 0px;
        }

        button{
            border: none;
            padding: 10px;
            background-color: white;
            color: teal;
            cursor: pointer;
            font-weight: 700;
            border-radius: 5px;
        }
    }

}
