


.cartContainer{

    .wrapper{
        padding: 20px;

        .title{
            font-weight: 300;
            text-align: center;

        }

        .top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;

            .topButton{
                padding: 10px;
                font-weight: 600;
                cursor: pointer;
                // border: none;

            }

            .topTexts{
                
                .topText{
                    text-decoration: underline;
                    cursor: pointer;
                    margin: 0px 10px;
                }
            }
        }

        .bottom{
            display: flex;
            justify-content: space-between;

            .info{
                flex: 3;

                hr{
                    background-color: #eee;
                    border: none;
                    height: 1px;
                }
                .product{
                    display: flex;
                    justify-content: space-between;

                    .productDetail{
                        flex: 2;
                        display: flex;

                        img{
                            width: 200px;
                        }

                        .details{
                            padding: 20px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;

                            .productColor{
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                background-color: black;
                            }
                        }
                    }

                    .priceDetail{
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;

                        .productAmountContainer{
                            display: flex;
                            align-items: center;
                            margin-bottom: 20px;

                            .productAmount{
                                font-size: 24px;
                                margin: 5px;
                            }
                        }

                        .productPrice{
                            font-size: 30px;
                            font-weight: 200;
                        }
                    }
                }
            }

            .summary{
                flex: 1;
                border: 0.5px solid lightgray;
                border-radius: 10px;
                padding: 20px;
                height: 50vh;

                .summaryTitle{
                    font-weight: 200;
                }   

                .summaryItem{
                    margin: 30px 0px;
                    display: flex;
                    justify-content: space-between; 
                }  
                button{
                    width: 100%;
                    padding: 10px;
                    background-color: black;
                    color: white;
                    font-weight: 600;
                } 
            }
        }
    }
}