


.sliderContainer{
    width: 100%;
    height: 100vh;
    background-color: coral;
    position: relative;
    // border: 3px solid green;

    // overflow: hidden;

    .arrow{
        width: 50px;
        height: 50px;
        background-color: #fff7f7;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;  
        cursor: pointer;
        opacity: 0.5;
        z-index: 2;

        &.left{
            left: 10px;
        }

        &.right{
            right: 10px;
        }

    }


    .wrapper{
        // width: 100%;
        height: 100vh;

        display: flex;
 
        .slide{
            display: flex;
            align-items: center;
            width: 100%;
            // max-width: 1020px;
            // border: 2px solid red;
            height: auto;
            
            background-color: #fcf1ed;
            // border: 3px solid red;
            // opacity: 0;

            .imgContainer{
                flex: 1;
                height: 100%;
                width: 50%;
                // border: 2px solid black;

                // width: 50vh;
                // border: 2px solid green;
                
                    img{
                        height: 100%;
                        width: 100%;
                         
                    }
            
            }
            .infoContainer{
                flex: 1;
                padding: 50px;
                // border: 2px solid green;
                 width: 50%;
               
                .title{
               
                    font-size: 70px;
                    
                }

                .desc{
                    margin: 50px 0px;
                    font-size: 20px;
                    font-weight: 500;
                    letter-spacing: 3px;
                }

                button{
                    padding: 10px;
                    font-size: 20px;
                    background-color: transparent;
                    cursor: pointer;
                }
            }

          
        }
        .jo{
            opacity: 1;
        }
    
    }



}